<app-header></app-header>


<p>
  {{title}}
</p>
<hr /> {{name1}}
<hr /> {{obj.name}}
<hr /> aa
<ul>
  <li *ngFor="let item of list">{{item}}</li>
</ul>
<hr /> bb

<ul>
  <li *ngFor="let item of list;let key=index">{{item}}--{{key}}</li>
</ul>



<hr />
<ul *ngFor="let item of stuudents;let key=index">
  <li>{{item.name}}--{{key}}</li>
  <ol *ngFor="let temp of item.credits">
    <li>
      {{temp.chinese}}
    </li>
  </ol>
</ul>
<hr />

<button (click)='getMsg()'>单击事件</button>

<button (click)='run($event)'>事件对象</button>
<hr />

<button (click)='updateFlagValue()'>切换显示隐藏div</button>
<div *ngIf='flag'>我想说......</div> 



<hr />
双向数据绑定
<input type="text" [(ngModel)]="search" />
{{search}}


<table border="{{tabBower}}}" style="width: 100%;">

  <thead>
    <tr>
      <th>id</th>
      <th>date</th>
      <th>title</th>
      <th>content</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of datas">
      <td>{{item.id}}</td>
      <td>{{item.date}}</td>
      <td>{{item.title}}</td>
      <td>{{item.content}}</td>
    </tr>
  </tbody>

</table>